<a href="https://colab.research.google.com/github/jesme00/jesme00.github.io/blob/main/PDFScraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source: Tackling Obesities: Future Choices - Project Report 2nd Edition by the Government Office for Science
(https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/287937/07-1184x-tackling-obesities-future-choices-report.pdf)

In [ ]:
!pip install tabula-py

WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)
WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: distro in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)

In [ ]:
import tabula
import warnings
import plotly.express as px
from datetime import datetime
from google.colab import drive, files, output # specific to Google Colab

warnings.filterwarnings('ignore')

In [ ]:
url="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/287937/07-1184x-tackling-obesities-future-choices-report.pdf"

In [ ]:
table=tabula.read_pdf(url, pages=45)

WARNING:tabula.io:Got stderr: Jan 08, 2023 5:36:26 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed
Jan 08, 2023 5:36:27 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed
Jan 08, 2023 5:36:29 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed

In [ ]:
table[0]

,Unnamed: 0,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
6,(overweight and obesity),NaN,NaN,NaN,NaN
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
8,NHS costs attributable to obesity alone,NaN,NaN,NaN,NaN
9,(see Table 4 in Modelling Future Trends) 1,2.3,3.9,5.3,7.1
10,"Wider total costs of overweight and obesity, t...",NaN,NaN,NaN,NaN
11,costs (figures include rounding effects),NaN,NaN,NaN,NaN
12,NaN,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [ ]:
df = table[0]
df.dropna(subset=df.columns[3:6], inplace=True)
df

,Unnamed: 0,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
9,(see Table 4 in Modelling Future Trends) 1,2.3,3.9,5.3,7.1
12,NaN,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [ ]:
import pandas as pd

In [ ]:
df1=df

In [ ]:
df1.at[9, 'Unnamed: 0'] = 'NHS costs attributable to obesity alone'
df1.at[12, 'Unnamed: 0'] = 'Wider total costs of overweight and obesity (7x direct costs)'

In [ ]:
df2=df1
df2.rename(columns={'Unnamed: 0': 'Measure'}, inplace=True)

In [ ]:
df2

,Measure,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
9,NHS costs attributable to obesity alone,2.3,3.9,5.3,7.1
12,Wider total costs of overweight and obesity (7...,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [ ]:
df3=df2.drop(['2007','2015'],axis=1)

In [ ]:
df3

                                              Measure   2025   2050
0                         Total NHS costs of diabetes    2.6    3.5
1           Total NHS costs of coronary heart disease    5.5    6.1
2                           Total NHS costs of stroke    5.6    5.5
3           Total NHS costs of other related diseases    7.8    7.8
4                   Total cost (all related diseases)   21.5   22.9
5   NHS cost increase above current, due to elevat...    4.1    5.5
7   NHS costs attributable to elevated BMI (overwe...    8.3    9.7
9             NHS costs attributable to obesity alone    5.3    7.1
12  Wider total costs of overweight and obesity (7...   37.2   49.9
13     Projected percentage of NHS cost @ £70 billion  11.9%  13.9%

I only want my data to be in billions, so will drop the % row

In [ ]:
df4 = df3.drop([13])

In [ ]:
df4

                                              Measure  2025  2050
0                         Total NHS costs of diabetes   2.6   3.5
1           Total NHS costs of coronary heart disease   5.5   6.1
2                           Total NHS costs of stroke   5.6   5.5
3           Total NHS costs of other related diseases   7.8   7.8
4                   Total cost (all related diseases)  21.5  22.9
5   NHS cost increase above current, due to elevat...   4.1   5.5
7   NHS costs attributable to elevated BMI (overwe...   8.3   9.7
9             NHS costs attributable to obesity alone   5.3   7.1
12  Wider total costs of overweight and obesity (7...  37.2  49.9

In [ ]:
df4.to_csv('Future costs of elevated BMI (£ billion per year).csv', index=False)

In [1]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.6.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 40.1 MB/s eta 0:00:00
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.6.0

In [2]:
import tabula
import warnings
import plotly.express as px
from datetime import datetime
from google.colab import drive, files, output # specific to Google Colab

warnings.filterwarnings('ignore')

In [3]:
url="https://docs.cdn.yougov.com/kdqnm3m1we/Obesity%20policies.pdf"

The code below is how I scraped data in my 6th chart on YouGov survey data

In [5]:
table=tabula.read_pdf(url, pages=0)

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.io:Got stderr: Jan 12, 2023 11:53:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Jan 12, 2023 11:53:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Jan 12, 2023 11:53:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts

In [15]:
table[1].head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Vote In 2019 GE,Unnamed: 3,2016 EU Ref,Gender,Unnamed: 4,Age,Unnamed: 5,Social Grade,Unnamed: 6,Unnamed: 7,Region,Unnamed: 8,Unnamed: 9
3,eighted Sample,1705,578,423,153,633 675,829 876,186,711 411,397,972 733,205,573,370,411,147
4,eighted Sample,1705,587,432,156,692 659,714 991,138,662 420,485,1030 675,177,598,374,411,145
5,NaN,%,%,%,%,% %,% %,%,% %,%,% %,%,%,%,%,%
9,Very effective,5,4,7,2,4 5,5 5,5,7 4,3,5 4,5,4,5,8,2
10,Fairly effective,19,19,18,17,20 15,17 20,24,21 15,17,20 17,18,21,17,16,23

In [8]:
import pandas as pd

In [18]:
dfa = table[1]
dfa = dfa[['Unnamed: 0','Unnamed: 1']]
dfa

            Unnamed: 0 Unnamed: 1
3       eighted Sample       1705
4       eighted Sample       1705
5                  NaN          %
9       Very effective          5
10    Fairly effective         19
11  Fairly ineffective         34
12    Very ineffective         35
13          Don't know          7
16      Very effective          9
17    Fairly effective         30
18  Fairly ineffective         33
19    Very ineffective         22
21          Don't know          6
23      Very effective         12
24    Fairly effective         30
25  Fairly ineffective         32
26    Very ineffective         17
27          Don't know          8
29      Very effective         16
30    Fairly effective         31
31  Fairly ineffective         28
32    Very ineffective         17
33          Don't know          8
35      Very effective         10
36    Fairly effective         39
37  Fairly ineffective         31
38    Very ineffective         11
39          Don't know          8
42      Very effective         22
43    Fairly effective         38
44  Fairly ineffective         19
45    Very ineffective         10
46          Don't know         10
48      Very effective         23
49    Fairly effective         44
50  Fairly ineffective         17
51    Very ineffective          6
52          Don't know         10
55      Very effective         17
56    Fairly effective         28
57  Fairly ineffective         28
58    Very ineffective         18
59          Don't know          9

Basic data saved and labelled properly in Excel by cross referencing the pdf doc.

In [19]:
dfa.to_csv('yougovsurvey.csv', index=False)